@font-face {
  font-family: 'boogey';
  src: url('../font/boogey/boogey.eot');
  src: url('../font/boogey/boogey.eot?#iefix') format('embedded-opentype'),
    url('../font/boogey/boogey.woff') format('woff'),
    url('../font/boogey/boogey.ttf') format('truetype'),
    url('../font/boogey/boogey.svg#boogey') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*=' boogey-']::before,
[class^='boogey-']::before {
  font-family: boogey;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  vertical-align: bottom;
  display: inline-block;
  text-decoration: inherit;
}

.boogey-menu-16::before {
  @extend %boogey-16;
  content: '\e900';
}

.boogey-menu-32::before {
  @extend %boogey-32;
  content: '\e900';
}

.boogey-architecture-16::before {
  @extend %boogey-16;
  content: '\e901';
}

.boogey-architecture-32::before {
  @extend %boogey-32;
  content: '\e901';
}

.boogey-development-16::before {
  @extend %boogey-16;
  content: '\e902';
}

.boogey-development-32::before {
  @extend %boogey-32;
  content: '\e902';
}

.boogey-language-16::before {
  @extend %boogey-16;
  content: '\e903';
}

.boogey-language-32::before {
  @extend %boogey-32;
  content: '\e903';
}

.boogey-web-16::before {
  @extend %boogey-16;
  content: '\e904';
}

.boogey-web-32::before {
  @extend %boogey-32;
  content: '\e904';
}

.boogey-css-16::before {
  @extend %boogey-16;
  content: '\e905';
}

.boogey-css-32::before {
  @extend %boogey-32;
  content: '\e905';
}

.boogey-mysql-16::before {
  @extend %boogey-16;
  content: '\e906';
}

.boogey-mysql-32::before {
  @extend %boogey-32;
  content: '\e906';
}

.boogey-spring-16::before {
  @extend %boogey-16;
  content: '\e907';
}

.boogey-spring-32::before {
  @extend %boogey-32;
  content: '\e907';
}

.boogey-java-16::before {
  @extend %boogey-16;
  content: '\e908';
}

.boogey-java-32::before {
  @extend %boogey-32;
  content: '\e908';
}

.boogey-js-16::before {
  @extend %boogey-16;
  content: '\e909';
}

.boogey-js-32::before {
  @extend %boogey-32;
  content: '\e909';
}

.boogey-react-16::before {
  @extend %boogey-16;
  content: '\e90a';
}

.boogey-react-32::before {
  @extend %boogey-32;
  content: '\e90a';
}

%boogey-16 {
  font-size: 316px;
  line-height: 16px;
}
%boogey-32 {
  font-size: 32px;
  line-height: 32px;
}
