.baba-sidebar {
  position: fixed;
  left: calc(0px - var(--sidebar-width));
  width: var(--sidebar-width);
  z-index: 1;
}
@media screen and (max-width: 992px) {
  .baba-sidebar:not([class*='collapsed']) {
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .baba-sidebar {
    left: 0;
  }
}
